.hover-animation {
    position: relative;
}
.hover-animation img {
    position: absolute;
    width: 100%;
    height: 710px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
.hover-animation img.img-front:hover {
    opacity: 0;
    cursor: pointer;
}
.card_lg {
    width: 100%;
    height: 90%;
}
.card_md {
    width: 100%;
    height: 450px;  
}
.card_sm {
    width: 100%;
    height: 300px;
}
.bg-gris {
    background-color: #b5b4b4;
    width: 100%;
    height: 800px;
    clip-path: polygon(0 0, 100% 11%, 89% 59%, 0% 100%);
    position: absolute;
    z-index: -1;
}