/* .sliders{
    height: 700px;
} */

.logo-toggler {
    display: none;
}

.logo-nav {
    display: block;
}

.tabs {
    display: flex;
    justify-content: space-around;
}

/* .slides {
    height: 85vh;
} */
/* @media only screen and(max-width: 500px) {
    .sliders {
        height: 600px;
    }
}
 */

@media (max-width: 992px) {
    .logo-toggler {
        display: flex; 
    }

    .logo-nav {
        display: none; 
    }

    .arrow {
        display: none !important;
    }
}

